body {
  background-color: #ccff99;
  color: #336600;
  font-family: fantasy;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.frame {
  background-color: white;
  border: 3px gray solid;
  border-radius: 3px;
  display: flex;
  height: 350px;
  width: 300px;
  flex-direction: column;
  margin: 10px;
  perspective: 700;
}

.tshirt {
  flex: 8;
  margin: 20px;
  text-align: center;
  transition: all 0.9s ease;
  transform-style: preserve-3d;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
}

.back {
  transform: rotateY(180deg);
}

.tshirt:hover {
   transform: rotateY(180deg);
}
/* navbar styles*/

.navbar {
  display: flex;
  flex: 2;
  border-top: 3px gray solid;
  border-bottom: 3px gray solid;
}

.email-link {
  flex: 1;
  border-right: 3px gray solid;
}

.like {
  flex: 1;
  border-right: 3px gray solid;
}

.size {
  flex: 1;
  border-right: 3px gray solid;
}

.color {
  flex: 1;
  border-right: 3px gray solid;
}

.add-to-cart {
  flex: 1;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: red;
}

img {
  width: 80%;
}

img.menu-icons {
  margin-top: 10px;
  width: 50%;
}

img.smile {
  width: 2%;
}

.bottom-name-text {
  background-color: #ccff99;
  flex: 1;
  font-size: 20px;
  padding-top: 8px;
}

footer {
  font-size: 16px;
  font-family: cursive;
  margin-top: 60px;
}
