body {
  background-color: #ccff99;
  color: #336600;
  font-family: fantasy;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 0;
}

.frame {
  background-color: white;
  border-radius: 3px;
  border: 3px gray solid;
  display: flex;
  flex-direction: column;
  height: 340px;
  margin: 10px;
  perspective: 700;
  width: 300px;
}

.tshirt {
  flex: 14;
  margin: 20px;
  text-align: center;
  transform-style: preserve-3d;
  transition: all 0.9s ease;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
}

.back {
  transform: rotateY(180deg);
}

.tshirt:hover {
   transform: rotateY(180deg);
}

/* navbar styles*/

.navbar {
  border-bottom: 3px gray solid;
  border-top: 3px gray solid;
  display: flex;
  flex: 4;
}

.email-link {
  border-right: 3px gray solid;
  flex: 1;
}

.like {
  border-right: 3px gray solid;
  flex: 1;
}

.size {
  align-content: center;
  border-right: 3px gray solid;
  flex: 1;
  font-size: 12px;
}

.color {
  border-right: 3px gray solid;
  flex: 1;
  font-size: 12px;
}

a:link {
  color: #336600;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: none;
}

.add-to-cart {
  flex: 1;
}

img {
  width: 80%;
}

img.menu-icons {
  margin-top: 10px;
  width: 50%;
}

img.smile {
  width: 2%;
}

.tshirt-name-price {
  background-color: #ccff99;
  flex: 1;
  font-size: 22px;
  margin: auto 0;
}

@media (max-width: 320px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 80vw;
    width: 80vw;
    margin: auto;
  }
}
